name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Copying codebase
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: blob:none

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24.3"

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      - name: Get Next Version
        uses: ietf-tools/semver-action@v1
        id: semver
        with:
          token: ${{secrets.ACTIONS_TOKEN}}
          branch: main
          noVersionBumpBehavior: silent

      - name: Create a tag
        if: steps.semver.outputs.next != ''
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag ${{steps.semver.outputs.next}}
          git push origin ${{steps.semver.outputs.next}}
